@import 'game-multiplayer';
@import 'menu';
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.pink-color {
    color: $pink;
}

.blue-color {
    color: $blue;
}

.hidden {
    display: none;
}